body {
  background: #141414;
  color: #ffffff;
}

.row_poster {
  display: flex;
  /* flex-direction: row; */
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  /* padding-bottom: 300px; */
}
.row_poster img {
  /* height: auto; */
  height: auto;
  max-height: 40em;
  width: 30em;
}
.card {
  color: white;
}

.hover-container:hover {
  cursor: pointer;
  transform: scale(1.08);
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
.card-body {
  display: flex;
  flex-direction: column;
  height: auto;
  /* justify-content: center; */
}

.comment-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.DJM-logo{
	display: flex;
	justify-content: center;
}

.col{
	display: flex;
	justify-content: center;
}